* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --color-darkest: #241724;
  --color-white: white;
  --color-light: #ede8db;
  --color-base: #513349;
  --color-bright: #cb9729;
  --color-bg: #bcd1d0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: var(--color-bg);
  font-family: "Helvetica Neue", sans-serif;
}

.calculator {
  background: var(--color-darkest);
  height: clamp(32rem, 80vh, 60rem);
  border-radius: clamp(1.65rem, 1.5vw, 2rem);
  padding: 1rem;
  color: var(--color-white);
  position: relative;
}

.top_container {
  display: flex;
  justify-content: space-between;
  height: clamp(5rem, 20%, 10rem);
}

/* display */
.value {
  font-size: clamp(3rem, 1rem + 4vw, 6rem);
  font-weight: 200;
  margin-bottom: 2rem;
  text-align: right;
}

.buttons_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  max-width: 100%;
  place-items: center;
}

.button {
  aspect-ratio: 1;
  background-color: var(--color-base);
  border-radius: 50%;
  display: grid;
  place-items: center;
  height: clamp(2.25rem, 6.5vh, 5.25rem);
  font-size: clamp(1.25rem, 1.65rem, 2.25rem);
  font-weight: 200;
  cursor: pointer;
  transition: filter 0.3s;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

.function {
  color: var(--color-darkest);
  background: var(--color-light);
}

.operator {
  background: var(--color-bright);
}

.number-0 {
  grid-column: 1 / span 2;
  width: 100%;
  border-radius: 12rem;
}

.bottom {
  width: 40%;
  height: 6px;
  background: white;
  border-radius: 1rem;
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.status {
  text-align: right;
}

.status img {
  width: 60%;
}

.clock {
  font-size: clamp(0.8rem, 0.85vw, 1.25rem);
}

footer {
  margin-top: 2rem;
}

footer p {
  color: var(--color-base);
  font-size: 0.65rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-family: monospace;
}
